body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ECF3F4;
}

nav {
    background-color: #ECF3F4;
    display: flex;
    width: 100%;
}

.logo {
    width: 180px;
    height: auto;
}

.pagelink {
    color: #03989E;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 0 40px;
}

.pagelink:hover {
    color: #03989E;
    text-decoration: none;
}


i {
    color: #03989E;
    margin: 0 40px;
    font-size: 30px;
}

/* -----------------------------------------------------------------------Main content-------------------------------------------------------*/
.upper {
    display: block;
    margin-top: 9%;
    height: 240px;
    width: 100%;
    background-color: #03999ee6;
}

.text {
    padding: 55px;
    width: 500px;
    height: 20vh;
    color: white;
    margin-left: 10%;
}

.img {
    display: block;
    float: right;
    margin-right: 8%;
    margin-top: -5%;
    height: 360px;
    width: 37%;
    background-color: bisque;

}

.imgtop {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upper-content {
    width: 40%;
    height: fit-content;
    margin-left: 7%;
    margin-top: 2%;
}

.upper-content-text {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.thing1{
    height: 250px;
    width: 94%;
    box-shadow: 2px 2px 15px 0 hsla(0,10%,77%,.5);
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5%;
}

.T1-top{
    width: 90%;
    height: 20%;
    margin-left:4%;
    color: #494646;
}

.T1-top-head{
    padding: 1%;
}

.thing2{
    height: 90px;
    width: 94%;
    box-shadow: 2px 2px 15px 0 hsla(0,10%,77%,.5);
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 1%;
}

.middle {
    display: block;
    margin-top: 3%;
    height: 140px;
    width: 100%;
    background-color: #03999ee6;
    text-align: center;
}

.middle-text1 {
    padding: 40px;
    color: white;
    font-size: 40px;;
}

.thing2{
    padding: 30px;
    color: #494646;
}
.thing2 h4{
    margin-left: 3%;
}
/* ----------------------------------------------------------------------footer content-------------------------------------------------- */
footer {
    height: 60vh;
    margin-top: 5%;
    border-top: solid 1px #03989E;
}

.above-footer {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    margin-top: 2%;
}

.footer-content h5 {
    color: #000;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-link {
    margin-top: 2px;
}

.footer-content a {
    display: block;
    color: #000;
    text-decoration: none;
}

.footer-content a:hover {
    color: #03989E;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

.payment {
    display: flex;
    margin-left: 10%;
}

.payment img {
    height: 90px;
    width: auto;
    margin-right: 10px;
}