body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ECF3F4;
}

nav {
    background-color: #ECF3F4;
    display: flex;
    width: 100%;
}

.logo {
    width: 180px;
    height: auto;
}

.pagelink {
    color: #03989E;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 0 40px;
}

.pagelink:hover {
    color: #03989E;
    text-decoration: none;
}


i {
    color: #03989E;
    margin: 0 40px;
    font-size: 30px;
}

/* ================================================== */
.message-container{
    margin-top: 6.5%;
    background-color: white;
}
form{
    display:flex; 
    margin-top:33%; 
    margin-left:4%;
}
input{
    width: 90%;
    padding: 15px;
    outline: none;
    border: solid 2px #03989E;
    border-radius: 10px 0 0 10px;
}

button{
    background-color: #137e43;
    color: white;
    font-weight: 700;
    border: none;
    width: 6%;
    border-radius: 0 10px 10px 0 !important;
    outline: none;
}